# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-ast
        exclude: ^check_python_version\.template\.py$  # Template for bazel creates syntax error
    -   id: debug-statements
        exclude: ^check_python_version\.template\.py$  # Template for bazel creates syntax error
    -   id: mixed-line-ending
    -   id: check-case-conflict
    -   id: fix-byte-order-marker
    -   id: check-docstring-first
    -   id: check-yaml
    -   id: check-added-large-files
